<a href="https://colab.research.google.com/github/Rubaia-jannat/work/blob/main/Calculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("select an operator to perform")
print("1. ADD")
print("2. SUBSTRACT")
print("3. MULTIPLY")
print("4. DIVIDE")

operation = input()

if operation == "1":
    num1 = input("Enter first number")
    num2 = input("Enter second number")
    print("The sum is:" + str(int(num1)+int(num2)))
elif operation == "2":
    num1 = input("Enter first number")
    num2 = input("Enter second number")
    print("The difference is" + str(int(num1)-int(num2)))
elif operation == "3":
    num1 = input("Enter first number")
    num2 = input("Enter second number")
    print("The product is:" + str(int(num1)*int(num2)))
elif operation =="4":
    num1 = input("Enter first number")
    num2 = input("Enter second number")
    print("The result is: " + str(int(num1)/int(num2)))

else:
    print("invalid entry")

select an operator to perform
1. ADD
2. SUBSTRACT
3. MULTIPLY
4. DIVIDE
1
Enter first number56
Enter second number88
The sum is:144

In [ ]:
a_random_string = "This is class of pp02"
word_list_of_random_string =

In [ ]:
fruit_list = ["banana","apple","orange"]
first_one, *rest = fruit_list
print(first_one,*rest)

banana apple orange

In [ ]:
def sum(*any_num_args):
  print(type(any_num_args))

In [ ]:
sum(*user_)

NameError: name 'user_' is not defined

returning multiple value from a function

In [ ]:
def user_input_for_calculation():
  operator = input("Enter +,-,*,/: ")
  numbers  = input("Enter numbers")
  return operator, numbers

In [ ]:
inputs = user_input_for_calculation()

TypeError: 'tuple' object is not callable

In [ ]:
def countdown (n):

In [ ]:
PP02_dict = {
    "title": "python class of PP02 batch",
    "no_of_students": 25,
    "location": "IICT,SUST"
}

In [ ]:
type(PP02_dict)

dict

In [ ]:
my_dict = dict(name = "PP02", age = "9", birth_place = "IICT,SUST")

In [ ]:
my_dict

{'name': 'PP02', 'age': '9', 'birth_place': 'IICT,SUST'}

In [ ]:
name  = my_dict.get("name","Nothing is found using search key")
print(name)

PP02

In [ ]:
my_dict["birth place"] = "201,IICT,SUST"
print(my_dict)

{'name': 'PP02', 'age': '9', 'birth_place': 'IICT,SUST', 'birth place': '201,IICT,SUST'}

In [ ]:
my_dict.pop("age")
print(my_dict)

{'name': 'PP02', 'birth_place': 'IICT,SUST', 'birth place': '201,IICT,SUST'}

pop delete the value of dictonary

In [ ]:
del my_dict["name"]
print(my_dict)

{'birth_place': 'IICT,SUST', 'birth place': '201,IICT,SUST'}

In [ ]:
keys = PP02_dict.keys()
print(keys)
values = PP02_dict.values()
print(values)
items = PP02_dict.items()
print(items)
PP02_dict.update({"tital":"pp02", "location":"SUST"})

dict_keys(['title', 'no_of_students', 'location'])
dict_values(['python class of PP02 batch', 25, 'IICT,SUST'])
dict_items([('title', 'python class of PP02 batch'), ('no_of_students', 25), ('location', 'IICT,SUST')])

In [ ]:
for value in PP02_dict.values():
  print(f"{value}")

python class of PP02 batch
25
SUST
pp02

In [ ]:
unq_set = {1, 2, 3, 4}
print(unq_set, type(unq_set))
my_set = set(["a","b","c","d" ])
print(my_set)

{1, 2, 3, 4} <class 'set'>
{'a', 'c', 'b', 'd'}

In [ ]:
my_set.add("e")
my_set
my_set.update(["f","e","h"])
my_set

my_set.discard("e")
my_set

{'b', 'd', 'f', 'h'}

In [ ]:
A = {1,2,3}
B = {3,4,5}

A_union_B = A.union(B)
print(A_union_B)

{1, 2, 3, 4, 5}

In [ ]:
Student_name = (" i am  dipto")
print(Student_name.capitalize())
print(Student_name.strip())

 i am  dipto
i am  dipto

student_name = (  'i  am  rimi ' )
print(student_name.strip().capitalize())

In [ ]:
student_name = (  'i  am  rimi ' )
print(student_name.strip().capitalize())

I  am  rimi

In [ ]:
Name = ('Rimi')
Marks = 89.95
Class_room = 201
print(type(Marks))
print(type(Class_room))
print(type(Marks))
print((Marks),type(Marks))
Marks_in_string = str(Marks)
print(type(Marks_in_string))

<class 'float'>
<class 'int'>
<class 'float'>
89.95 <class 'float'>
<class 'str'>

In [ ]:
first_num = input("Enter the first number")
second_num = input("Enter the second number")
sum = int(first_num + second_num)
print(sum)

Enter the first number20
Enter the second number30
2030

In [ ]:
Number = int(input("Enter the subject numnber"))
if Number >=80 :
  print("A+")
if Number >=75 and Number <=79:
  print("A")
elif Number >=70 and Number <=75:
  print("A-")
elif Number <=70:
  print("fail")

Enter the subject numnber74
A-

[index]
in value niye kaj kore
enumerate function index value ke return kore

In [ ]:
groceries = ["Dal","Rice","onion"]
for item in groceries:
  print(item)
print(len(groceries))
print(groceries[0])
for index,item in enumerate(groceries):
  if groceries[index] == "Dal":
    groceries[index] = "Lentil"
print(groceries)

Dal
Rice
onion
3
Dal
['Lentil', 'Rice', 'onion']

Tuples are not changeable

In [ ]:
a = 10
b = 10.5
print(a, b, sep=" + ", end = "\n")
print('=', a+b)

10 + 10.5
= 20.5

In [ ]:
print("rimi\'s pen is red")
print("this is beautiful")

rimi's pen is red
this is beautiful

In [ ]:
for i in range(3):
  for j in range(3):
     print(i,j, end=" | ")
  print()

0 0 | 0 1 | 0 2 |
1 0 | 1 1 | 1 2 |
2 0 | 2 1 | 2 2 |



>  top modules in pythonblockquote

In [ ]:
from collections import Counter
Fruit_list =['Mango','AppLe','Bannana','Mango','Jackfruit','Mango']
Fruit_counts = Counter(Fruit_list)
for item,count in Fruit_counts.item():
  print( f"{item}":{Fruit_counts})
Fruit_counts_dict = dict(Fruit_counts)
print(Fruit_counts_dict)

SyntaxError: invalid syntax (<ipython-input-3-81f590a36835>, line 5)

In [ ]:
def average(grades):
    return sum(grades) / len(grades)

def determine_pass_fail(average):
    return "Pass" if average >= 60 else "Fail"
def find_highest_lowest(grades):
    return max(grades), min(grades)

def main():
    num_students = int(input("How many students? "))
    students = []
    for _ in range(num_students):
        name = input("\nEnter the student's name: ")
        grades = list(map(float, input("Enter at least 3 grades separated by spaces: ").split()))
        if len(grades) < 3:
            print("Error: Please enter at least 3 grades.")
            return
        students.append({"name": name, "grades": grades})
    print("\nStudent Grade Analysis:")
    for student in students:
        name = student["name"]
        grades = student["grades"]
        avg = average(grades)
        status = determine_pass_fail(avg)
        highest, lowest = find_highest_lowest(grades)
        print(f"\nName: {name}")
        print(f"Average Grade: {avg:.2f}")
        print(f"Pass/Fail: {status}")
        print(f"Highest Grade: {highest}")
        print(f"Lowest Grade: {lowest}")
    if __name__ == "__main__":
     main()

In [ ]:
def calculate_average(grades):

    return sum(grades) / len(grades)

def determine_pass_fail(average):

    return "Pass" if average >= 60 else "Fail"

def find_highest_lowest(grades):

    return max(grades), min(grades)

def main():

    num_students = int(input("Enter the number of students: "))
    students = []


    for _ in range(num_students):
        name = input("\nEnter the student's name: ")
        grades = list(map(float, input("Enter at least 3 grades separated by spaces: ").split()))

        if len(grades) < 3:
            print("Error: Please enter at least 3 grades.")
            return

        students.append({"name": name, "grades": grades})


    print("\nStudent Grade Analysis:")
    for student in students:
        name = student["name"]
        grades = student["grades"]
        avg = calculate_average(grades)
        status = determine_pass_fail(avg)
        highest, lowest = find_highest_lowest(grades)


        print(f"\nName: {name}")
        print(f"Average Grade: {avg:.2f}")
        print(f"Pass/Fail: {status}")
        print(f"Highest Grade: {highest}")
        print(f"Lowest Grade: {lowest}")


if __name__ == "__main__":
    main()

Enter the number of students: 2

Enter the student's name: Rimi
Enter at least 3 grades separated by spaces: 90 89 80

Enter the student's name: Naeem
Enter at least 3 grades separated by spaces: 87 89 76

Student Grade Analysis:

Name: Rimi
Average Grade: 86.33
Pass/Fail: Pass
Highest Grade: 90.0
Lowest Grade: 80.0

Name: Naeem
Average Grade: 84.00
Pass/Fail: Pass
Highest Grade: 89.0
Lowest Grade: 76.0

In [ ]:
Marks = [80,78,79.70]
average = sum(Marks)/len(Marks)
print(average)
def pass_fail(average):
  return "pass" if (average)>=60 else "fail"
for i in Marks:
  status = pass_fail(average)
print(f"pass_fail:{status}")

79.23333333333333
pass_fail:pass

In [ ]:
Fruits_input = input("Input the Fruits in the list")
Fruits = Fruits_input.split()
type(Fruits),len(Fruits)
Fruits_counts = {}
for Fruit in Fruits:
  if Fruit in Fruits_counts:
    Fruits_counts[Fruit] += 1
  else:
    Fruits_counts[Fruit] = 1
Fruits_counts

Input the Fruits in the listMango orange

{'Mango': 1, 'orange': 1}

sum(

In [ ]:
def swap_values():
  a = input("Enter first value")
  b = input("Enter Second value")
  return (b,a)
result = swap_values()
print(f"Swapping a and b: {result}")

Enter first value1
Enter Second value2
Swapping a and b: ('2', '1')

In [ ]:
def reverse_string(s) :
  return s [::-1]
string = ["Hello"]
for s in string:
  reversed_str = reverse_string(s)
  print(reversed_str)

olleH

In [ ]:
def reverse_string(s):

    return s[::-1]


string = ["Hello"]

for s in string:
    reversed_str = reverse_string(s)

olleH

Replacement Proggrame need import re

In [ ]:
import re
Name = "Rimi is from Bogura"
Rafah= "Rafah is from Pabna"
Place =r"Bogura"
if re.search(Place,Name):
  print("she is from Bogura")
else:
  print("He/she is from somewhere else")

she is from Bogura

In [ ]:
txt = "Hello,World"
start__pattern = r"^Hello"
end_pattern = r"world$"
start_end_pattern = r