<a href="https://colab.research.google.com/github/Rubaia-jannat/work/blob/main/Python_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
student_name = '  Rimi'
print("Hello",student_name)
print("Hello",student_name.capitalize())
print("Hello",student_name.strip())

Hello   Rimi
Hello   rimi
Hello Rimi

In [ ]:
print("Hello,student_name")

Hello,student_name

In [ ]:
student_name = '  Rimi'
print(student_name.strip().capitalize())

Rimi

In [ ]:
raneij = 5

In [ ]:
rangeij = 5
for i in range(rangeij):
  for j in range(rangeij):
    print(end=" ")
  if i >= j:
    print(" * ",end="")
  if i <j:
     print("*",end="")
else:
  print("_",end="")
print()

     *     *     *     *      * _

In [ ]:
a = 10
b = 3
a = a %=b
a +

In [ ]:
a = 10
b = 5
if a!=b:
  print("a is equal b")

a is equal b

In [ ]:
a = 5.6
a =int(a)
print(a)

5

In [ ]:
def get_name(): #header
 # body
 #...
 return "Rimi"

In [ ]:
get_name()

'Rimi'

In [ ]:
def sum_ of_three(a,b,c):
  sum_of_two = sum(a,b)
  sum_of_all = sum()

In [ ]:
def my_function():
  Name = "Rimi"
  Reg  = 2020136022
  print(Name,Reg)
  return(Name,Reg)

In [ ]:
Student =my_function()
print(Student)

Rimi 2020136022
('Rimi', 2020136022)

In [ ]:
def Temperature_Data():
  CTD_data = (20,22,30,40)
  Place    = "Kuakata"
  print(CTD_data,Place)
 # return(CTD_data,Place)

In [ ]:
xyz = Temperature_Data()
print(xyz)

(20, 22, 30, 40) Kuakata
None

In [ ]:
Student = (my_function)
print(my_function)

<function my_function at 0x7fe9f95f77f0>

In [ ]:
def sum_of_three(a,b,c):
  sum_of_two = sum(a,b)
  sum_of_all = sum(sum_of_two, c)
  return(sum_of_all)

In [ ]:
total_sum = sum_of_three(10,67,-89)
print(total_sum)

-12

In [ ]:
def sum_ of_three(a,b,c):
  sum_of_two = sum(a,b)
  sum_of_all = sum(sum_of_two, c)
  print()

In [ ]:
def sum(a,b):
  print(a+b)
#return(a+b)

In [ ]:
sum(5,100)

105

In [ ]:
x = ("1,2,3")
print(x)

1,2,3

In [1]:
Say = ("we all hate books")
print(Say)

we all hate books

In [ ]:
return_val = sum(1,2)
print("return_val" , return_val)

3
return_val None

In [ ]:
def sum(a,b,c):
  a=10
  b=5
  total = a+b+c
  print(c)
  return c

In [ ]:
c=100
Number = (total)
print(Number)

(20, 30, 40)

In [ ]:
total =("c")
print(total)

NameError: name 'c' is not defined

In [ ]:
def sum_with_pi(a):
 c = a+pi
 print(f"c = {c}")

In [ ]:
pi = 3.1416
sum_with_pi(100)

c = 103.1416

In [ ]:
pi = 100
sum_with_pi(20)

c = 120

In [ ]:
def sum_of_range(start,end,jump)[]

keywords are not valid for any namimg

In [ ]:
start = 1
end = 20
jump = 2

for i in range(start, end, jump):
    print(f"The square of {i} is {i ** 2}")

The square of 1 is 1
The square of 3 is 9
The square of 5 is 25
The square of 7 is 49
The square of 9 is 81
The square of 11 is 121
The square of 13 is 169
The square of 15 is 225
The square of 17 is 289
The square of 19 is 361

In [ ]:
def sum_of_the_numbers(a):
    sum = 0
    for number in range(1,1000,2):
            sum += number

            print(number)
    return sum
result = sum_of_the_numbers(20)
print(f"The sum of the numbers from 1 to 1000 is: {result}")

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199
201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
233
235
237
239
241
243
245
247
249
251
253
255
257
259
261
263
265
267
269
271
273
275
277
279
281
283
285
287
289
291
293
295
297
299
301
303
305
307
309
311
313
315
317
319
321
323
325
327
329
331
333
335
337
339
341
343
345
347
349
351
353
355
357
359
361
363
365
367
369
371
373
375
377
379
381
383
385
387
389
391
393
395
397
399
401
403
405
407
409
411
413
415
417
419
421
423
425
427
429
431
433
435
437
439
441
443
445
447
449
451
453
455
457
459
461
463
465
467
469
471
473
475
477
479
481
483
485
487
489
491
493
495
497
499
501
503
505
507
509
511
513
515
517
519
521
523
525
527
529
531
533
535
537
539
541
543
545
547
549
551
553
555
557
559
561
563
565
567
569
571
573
575
577
579
581
583
585
587
589
591
593
595
597
599
601
603
605
607
609
611
613
615
617
619
621
623
625
627
629
631
633
635
637
639
641
643
645
647
649
651
653
655
657
659
661
663
665
667
669
671
673
675
677
679
681
683
685
687
689
691
693
695
697
699
701
703
705
707
709
711
713
715
717
719
721
723
725
727
729
731
733
735
737
739
741
743
745
747
749
751
753
755
757
759
761
763
765
767
769
771
773
775
777
779
781
783
785
787
789
791
793
795
797
799
801
803
805
807
809
811
813
815
817
819
821
823
825
827
829
831
833
835
837
839
841
843
845
847
849
851
853
855
857
859
861
863
865
867
869
871
873
875
877
879
881
883
885
887
889
891
893
895
897
899
901
903
905
907
909
911
913
915
917
919
921
923
925
927
929
931
933
935
937
939
941
943
945
947
949
951
953
955
957
959
961
963
965
967
969
971
973
975
977
979
981
983
985
987
989
991
993
995
997
999
The sum of the numbers from 1 to 1000 is: 250000

In [ ]:
sum = 0
for i in range(1,1001):
  sum +=i
print(sum)

500500

In [ ]:
sum = 0
for i in range(1,1000,3):
  sum +=i
print(f"The sum is:{sum}")

The sum is:166167

In [ ]:
Start = 1
end   = 6
sum = 0
for i in range(start,end):
  sum +=i
print(sum)
print(f"The sum is:{sum}")
print("The sum is numbers from",start,"to",end-1,"is",sum)

15
The sum is:15
The sum is numbers from 1 to 5 is 15

In [ ]:
def divide(a,b):
 #divident = a
 #divisor  =b
 if a%b == 0:
  print("divisible")
 else:
  print("not divisible")

In [ ]:
divide(10,5)

divisible

In [ ]:
def multiply(a,b):
  if a*b == 10:
    print("Ok")
  else:
    print("not ok")

In [ ]:
multiply(6,2)

not ok

In [ ]:
def distance(x1,y1,x2,y2):
  distance = {((x2 - x1)**2 + (y2 - y1)**2)}**0.5
  print(distance)

In [ ]:
x1,y1 = 1,2
x2,y2 = 4,6
distance = calculate_distance(x1,y1,x2,y2):
print(distance)

SyntaxError: invalid syntax (<ipython-input-44-86c55bf29bb3>, line 3)

In [ ]:
def factorial(n): #header
 print("Inside or outside")

In [ ]:
#5! = 5*4*3*2*1
def factorial(n):
  factorial_val = 1
  for i in range(1,n+1):
    factorial_val *= i
    print("inside loop:", i)
  return factorial_val

In [ ]:
def factorial (m):
  factorial_val = 0
  for i in range(3,m+1):
    factorial_val *= i
    #print(factorial_val)
    print("Here is:" , i)
  return factorial_val

In [ ]:
result = factorial(5)
print(result)

Here is: 3
Here is: 4
Here is: 5
0

In [ ]:
result = factorial(5)
print(result)

inside loop: 1
inside loop: 2
inside loop: 3
inside loop: 4
inside loop: 5
120

In [ ]:
print (2 +5)
print (2-5)
print (2*5)
print (2/5)
print (15%2)
print(9//5,type(9//5))

7
-3
10
0.4
1
1 <class 'int'>

In [ ]:
for i in range (3):
  for j in range (2):
    print(i,j, end= "|")
  print()

0 0|0 1|
1 0|1 1|
2 0|2 1|

In [ ]:
num_list = [10,20,30,40,50,60,70,80,90,100,200,300,400,500,600,654,567,789,987,456]
Find = 300
for i in range(len(num_list)):
  if num_list == Find:
    print("Found")
else:
   print("Not Found")

Not Found

In [ ]:
num_list = [10,20,30,40,50,60,70,80,90,100,200,300,400,500,600,654,567,789,987,456]
def find_num_index(search_num):
  index = 0
  for num in num_list:
    if num == search_num:
      print(f"{search_num} index in list:{index}")
    index +=1

In [ ]:
find_num_index(30)

30 index in list:2

bREAK STATEMENT FOR LOOP _LEAVE FROM FOR LOOP
nested for loop

In [ ]:
Fruit_list =["Banana","Apple","Jackfruit","Mango","Orange"]
def find_fruit_index(Seach_fruit)

In [ ]:
for j in range(10,20):
   print(j)
   #break
   for i in range(5):
    print(i)
    #break
  # break

10
0
1
2
3
4
11
0
1
2
3
4
12
0
1
2
3
4
13
0
1
2
3
4
14
0
1
2
3
4
15
0
1
2
3
4
16
0
1
2
3
4
17
0
1
2
3
4
18
0
1
2
3
4
19
0
1
2
3
4

Hacker  rank

In [ ]:
#Task02 : Find out count of odd number num_list
num_list = range(2,8)
print(*num_list)

def count_odd_num():
  count = 0
  for num in num_list:
    print(num)
    if num % 2 ==0:
      print("Before continue")
      continue
      print("After continue")

    print("Outside if clause")
    count += 1
  return  count

count =count_odd_num()

2 3 4 5 6 7
2
Before continue
3
Outside if clause
4
Before continue
5
Outside if clause
6
Before continue
7
Outside if clause

In [ ]:
num_list = range(2,8)
print(*num_list)

2 3 4 5 6 7

In [ ]:
for i in range(1,3):
  print (i)
 # break
  continue
else:
  print("y")

1
2
y

In [ ]:
random_str